server:
  port: 8080

spring:
  sql:
    init:
      mode: ALWAYS
  datasource:
    url: jdbc:h2:file:./db/filmorate
    driver-class-name: org.h2.Driver
    username: sa
    password: password

logging:
  level:
    root: info
    org:
      zalando:
        logbook: trace
